@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/**** Geral ****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f0f0f0;
    background: linear-gradient(#0006 5%, #f001, #f000), url(./images/fundo.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


/**** Cabeçalho ****/

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 6em;

}

#principal {
    background: #604848;
    width: 100%;
    height: 550px;
}

@keyframes logo {
    from {
        transform: rotate(-360deg);
    }
}

#logo {
    margin-left: 50px;
}

#logo:hover {
    animation: logo 2s;
}

@keyframes nav {
    to {
        font-size: 1.1em;
        font-weight: bold;
    }
}

#nav {
    display: flex;
    margin-right: 40px;
}

#nav li {
    padding: 2px;
}

#nav li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: -19px;
}

#nav li a:hover {
    animation: nav 2s;
    animation-fill-mode: forwards;
}

/**** Início ****/

@keyframes inicio {
    from {
        margin-left: -200px;
    }

    to {
        margin-left: 0px;
    }

}

article {
    float: left;
    width: 420px;
    height: 490px;
    margin-left: 75px;
}

#inicio {
    color: white;
    width: 400px;
    height: 450px;
    margin-top: 80px;
    -moz-animation: inicio 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation: inicio 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-animation: inicio 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: inicio 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#inicio h1 {
    font-size: 5em;
    text-transform: uppercase;
}

#inicio p {
    margin-top: 10px;
    margin-bottom: 50px;
}

#inicio a {
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    background: rgba(185, 2, 2, 0.9);
    font-weight: bold;
    font-family: Verdana;
}

#inicio a:hover {
    background: rgba(255, 255, 255, 0.895);
    color: rgba(185, 2, 2, 0.9);
}

/**** Redes ****/

@keyframes redes {
    from {
        margin-right: -100px;
    }

    to {
        margin-left: 0px;
    }

}

#redes {
    float: right;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 150px;
    margin-right: 50px;
    margin-top: 190px;
    -moz-animation: redes 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation: redes 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-animation: redes 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: redes 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes img {
    to {
        width: 45px;
        margin-right: -5px;
    }
}

#redes img {
    float: right;
    display: block;
    margin-bottom: 30px;
    filter: invert(100%) sepia(0%) saturate(7474%) hue-rotate(23deg) brightness(98%) contrast(105%);
}

#redes img:hover {
    animation: img 1s;
    animation-fill-mode: forwards;
}