@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    height: 100%;
}

p {
    font-family: "Playfair Display";
    font-size: 70px;
    animation: fading 6s infinite;
}

@keyframes fading {
    from {
        opacity: 100%;
    }

    to {
        opacity: 15%;
    }
}

.background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.background-one {
    background-image: url(./assets/wallpaper1.png);
}

.background-two {
    background-image: url(./assets/wallpaper2.png);
}

.background-three {
    background-image: url(./assets/wallpaper5.png);
}

.background-four {
    background-image: url(./assets/wallpaper4.png);
}

.content {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px 80px;
}

.img-movement {
    position: relative;
    animation: img-moving 4s ease-out;
    animation-delay: 7s;
}

@keyframes img-moving {
    from {
        left: -60px;
    }

    to {
        left: 0px;
    }
}

.img-movement-two {
    position: relative;
    animation: img-moving-two 4s ease-out;
}

@keyframes img-moving-two {
    from {
        left: 1500px;
    }

    to {
        left: 500px;
    }
}

button {
    background-color: gray;
    color: white;
    border: none;
    padding: 20px;
    width: 100%;
    animation: big-text 3s infinite;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes big-text {
    from {
        font-size: 14px;
    }

    to {
        font-size: 30px;
    }
}